<div class="container-xxl form-signin text-center">
  <form>
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="Username" [(ngModel)]="username" name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Sign in</button>
  </form>
</div>
