<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" #cartLink>
            <button routerLink="/cart" class="btn"><i class="fa-solid fa-basket-shopping fa-2x"></i></button>
          </li>

        </ul>
      </div>
      <form class="d-flex">
        <span class="navbar-brand">{{username}}</span>
        <button #logoutBtn class="btn" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i></button>
      </form>
    </div>
  </nav>

</header>

<router-outlet></router-outlet>
